/* JsonForm.css */

.containers {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.form-text {
  cursor: pointer;
  text-align: center;
  color: #007bff;
  margin-top: 20px;
}

.form-text:hover {
  text-decoration: underline;
}

/* Custom styles for form elements */
.rjsf {
  font-family: Arial, sans-serif;
}

.rjsf input[type='number'],
.rjsf select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}
.form-group select {
  height: 50px;
  font-size: 25px; 
}
.rjsf button[type='submit'] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.rjsf button[type='submit']:hover {
  background-color: #0056b3;
}
/* bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline mr-4 */
/* Style for error messages */
.rjsf .error-detail {
  color: red;
}

/* Additional styles for customizing the form appearance */
.form-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-submit-button {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form-submit-button:hover {
  background-color: #0056b3;
}
